.flex {
    display: flex;

    &__ai__center {
        align-items: center;
    }

    &__jc__sb {
        justify-content: space-between;
    }
}

.grid {
    display: grid;
}

.bold {
    font-weight: 700;
}