@use '../variables' as var;

.header {
    max-width: 90em;
    padding: 1rem 1.1875rem;

    #hamburger {
        @media (min-width: 1024px) {
            display: none;
        }
    }

    .header__logo {
        color: var.$pink;
    }

    nav {
        display: none;

        @media (min-width: 1024px) {
            display: block;
        }
    }
}

.jumbotron {
    background-image: url('/images/jumbotron-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-block: 8.875rem 2.5rem;
    padding-inline: 1.875rem;
    text-align: center;

    h1,
    a,
    i {
        color: var.$white;
        text-transform: uppercase;
        font-weight: 700;
    }

    h1 {
        line-height: 1.1;
        font-size: var.$fs-30;
        margin-block-end: 1rem;
    }

    &__links {
        margin-block-end: 3rem;
    }

    .next,
    .fa-angles-right {
        color: var.$pink;
    }
}

main {

    article,
    .comments {
        padding: 2rem 1.875rem;
    }

    article {
        h1 {
            margin-block-end: 2rem;
            font-size: var.$fs-32;
            font-weight: 700;
        }

        p:not(:last-child) {
            margin-block-end: 1.875rem;
        }

        p {
            font-size: var.$fs-14;
            color: var.$gray;
            text-align: justify;
        }
    }

    .comments {
        flex-direction: column;
        gap: 1.875rem;
        text-align: justify;

        div {
            .person {
                font-size: var.$fs-24;
                font-weight: 700;

                .fa-user {
                    margin-inline-end: 0.2rem;
                }
            }

            .main-comment {
                margin-block-end: 1rem;
            }
        }

        .time {
            color: var.$gray;
            font-size: var.$fs-13;
        }
    }
}